:root {
  --color-background: #f0f2f8;
  --color-background-secondary: #e9e9e9;
  --color-background-tertiary: #ffffff;
  --color-text-primary: #3b393d;
  --color-text-secondary: #929497;
  --color-accent: #3d37ec;
  --max-width: 600px;
  --mobile-width: 450px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2b2a33;
    --color-background-secondary: #323238;
    --color-background-tertiary: #26242b;
    --color-text-primary: #ede3dd;
    --color-text-secondary: #747a7a;
    --color-accent: #5a5ae7;
  }
}
ul.posts-list {
  padding: 0;
  list-style-type: none;
}

li.post-single {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem 0;
}
li.post-single svg {
  fill: var(--color-text-secondary);
  margin-right: 0.25em;
}
li.post-single a.post-title {
  width: fit-content;
}

span.post-date {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
}

p.post-time {
  color: var(--color-text-secondary);
}
p.post-time svg {
  fill: var(--color-text-secondary);
}

div.footnotes ol {
  counter-reset: footnotes;
  padding-left: 1rem;
}
div.footnotes ol li {
  counter-increment: footnotes;
  padding-left: 1rem;
}
div.footnotes ol li::marker {
  content: "[" counter(footnotes) "]";
  margin-right: 1rem;
}

sup a.footnote-ref::before {
  content: "[";
}
sup a.footnote-ref::after {
  content: "]";
}

article sup {
  line-height: 0;
}

html {
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  color-scheme: light;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

div.section {
  width: 100%;
}
div.section.highlight {
  background-color: var(--color-background-tertiary);
}

div.name-header {
  text-transform: lowercase;
  margin: 1rem auto;
}
div.name-header h1 {
  margin: 0;
}
div.name-header h4 {
  margin: 0;
  color: var(--color-text-secondary);
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}
div.gallery::after {
  content: "";
  flex-grow: 999999999;
}
div.gallery > a {
  display: block;
  margin: 2px;
  position: relative;
  min-height: 200px;
  flex-grow: 1;
  background-color: var(--color-background);
}
div.gallery > a img {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  object-fit: cover;
  vertical-align: bottom;
}

nav.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1rem;
  width: 100%;
}
nav.main-nav a {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
footer a {
  font-weight: bold;
}

div#git-hash {
  font-family: monospace;
}

blockquote {
  border-left: 4px solid var(--color-accent);
  margin-left: 0;
  padding-left: 2rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  color: var(--color-text-secondary);
}

article {
  line-height: 1.5em;
}
article h1, article h2, article h3 {
  line-height: 1.5em;
}
article img {
  width: 100%;
}

hr {
  border-top: 1px solid var(--color-text-secondary);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  margin: 0 0 1rem 0;
}

svg {
  height: 1em;
  fill: var(--color-text-primary);
}

a.gallery-tag:before {
  content: "#";
}

div.image-info p.image-location, div.post-info p.image-location {
  color: var(--color-text-secondary);
  margin: 0;
}
div.image-info p.image-location svg, div.post-info p.image-location svg {
  fill: var(--color-text-secondary);
  margin-right: 0.25em;
}
div.image-info td.image-time, div.image-info td.post-time, div.post-info td.image-time, div.post-info td.post-time {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
}
div.image-info td.image-time > svg, div.image-info td.post-time > svg, div.post-info td.image-time > svg, div.post-info td.post-time > svg {
  margin-right: 0.25em;
  width: 1rem;
  fill: var(--color-text-secondary);
}

div.tags-list {
  column-count: auto;
  column-width: 15em;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.text-accent {
  color: var(--color-accent);
}

.contain {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.text-monospace {
  font-family: monospace;
}

div.home-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  margin: auto;
  text-transform: lowercase;
}
div.home-container div.home-feature {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin: auto;
  width: fit-content;
}
@media (max-width: var(--mobile-width)) {
  div.home-container div.home-feature {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 2rem;
  }
}
div.home-container div.home-feature div.home-title {
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--color-text-primary);
  justify-content: center;
}
div.home-container div.home-feature div.home-title h1 {
  margin: 0;
}
div.home-container div.home-feature div.home-title h4 {
  color: var(--color-text-secondary);
  margin: 0;
}
div.home-container div.home-feature div.home-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-secondary);
}
div.home-container div.home-feature div.home-socials div.home-social-link {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
}
div.home-container div.home-nav {
  margin: auto;
  font-weight: bold;
}
div.home-container div.home-nav nav {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.secondary-font {
  font-family: monospace;
}