:root {
  --color-background: #ffffff;
  --color-text-primary: #3b393d;
  --color-text-secondary: #a6a9ad;
  --color-accent: #45b694;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #28252B;
    --color-text-primary: #ede3dd;
    --color-text-secondary: #8d8683;
    --color-accent: #03CEA4;
  }
}
ul.posts-list {
  padding: 0;
  list-style-type: none;
}

li.post-single {
  margin: 0.5rem 0;
}

span.post-date {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  margin-right: 1rem;
}

div.footnotes ol {
  counter-reset: footnotes;
  padding-left: 1rem;
}
div.footnotes ol li {
  counter-increment: footnotes;
  padding-left: 1rem;
}
div.footnotes ol li::marker {
  content: "[" counter(footnotes) "]";
  margin-right: 1rem;
}

sup a.footnote-ref::before {
  content: "[";
}
sup a.footnote-ref::after {
  content: "]";
}

article sup {
  line-height: 0;
}

html {
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  color-scheme: light;
}

body {
  margin: 2rem auto;
  box-sizing: border-box;
  padding: 0 1rem;
  max-width: 720px;
}

div.name-header {
  text-transform: lowercase;
  margin-bottom: 2rem;
}
div.name-header h1 {
  margin: 0;
}
div.name-header h4 {
  margin: 0;
  color: var(--color-text-secondary);
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}
div.gallery::after {
  content: "";
  flex-grow: 999999999;
}
div.gallery > a {
  display: block;
  margin: 2px;
  position: relative;
  min-height: 200px;
  flex-grow: 1;
  background-color: var(--color-background);
}
div.gallery > a img {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  object-fit: cover;
  vertical-align: bottom;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--color-accent);
  padding: 0.25rem 1rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
nav a {
  color: var(--color-background);
  font-weight: bold;
}
nav a:hover {
  color: var(--color-text-primary);
}

footer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-top: 1rem;
}
footer a {
  font-weight: bold;
}

blockquote {
  border-left: 4px solid var(--color-accent);
  margin-left: 0;
  padding-left: 2rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  color: var(--color-text-secondary);
}

article {
  line-height: 1.375em;
}
article h1, article h2, article h3 {
  line-height: 1.5em;
}
article img {
  width: 100%;
}

hr {
  border-top: 1px solid var(--color-text-secondary);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

a.gallery-tag:before {
  content: "#";
}

div.image-info p.image-location, div.post-info p.image-location {
  color: var(--color-text-secondary);
  margin: 0;
}
div.image-info p.image-time, div.image-info p.post-time, div.post-info p.image-time, div.post-info p.post-time {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
}

div.tags-list {
  column-count: auto;
  column-width: 10em;
  word-wrap: break-word;
}

.text-accent {
  color: var(--color-accent);
}