<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="content-wrapper">
            <div id="header">
                {{- partial "header.html" . -}}
            </div>
            
            <div id="content">
                {{- block "main" . }}
                {{- end }}
            </div>

            <div id="footer">
                {{ if not .Params.excludefooter }}
                    {{ partial "footer.html" . }}
                {{ end }}
            </div>
        </div>
    </body>
</html>
