html {
  font-size: 100%; }

body {
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: #f7f7f7;
  color: #000000;
  font-family: Helvetica, sans-serif; }

@media only screen and (max-width: 400px) {
  body {
    font-size: 18px; } }

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  nav a {
    padding: 0.25rem 0;
    color: #000000; }
  nav div.nav-title {
    font-size: 2rem; }
  nav div.nav-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem; }

footer {
  line-height: 1.5rem; }

div.content-wrapper {
  margin: auto;
  max-width: 500px; }

div.content {
  margin: 0 auto; }

div.main-content {
  line-height: 1.25rem; }

div.name-container {
  margin-bottom: 1rem; }
  div.name-container p {
    margin: 0; }

div.home-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  div.home-container div.title-container {
    margin: auto;
    font-weight: 900;
    font-size: 5rem;
    line-height: initial;
    margin-bottom: 1rem; }
  div.home-container div.home-grid {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; }
    div.home-container div.home-grid > div.home-link-button {
      border: 2px solid #000000;
      background-color: #09a88e;
      padding: 0.125rem 0.5rem;
      border-radius: 2px; }
    div.home-container div.home-grid > div.home-link-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: baseline; }
      div.home-container div.home-grid > div.home-link-row > div.flex-grow {
        display: flex;
        flex-direction: row; }
        div.home-container div.home-grid > div.home-link-row > div.flex-grow > div.icon-container {
          width: 1rem;
          margin-right: 0.75rem;
          display: flex;
          justify-content: center;
          align-items: center; }
      div.home-container div.home-grid > div.home-link-row > span.fill-row {
        flex-grow: 1;
        height: 0.75rem;
        border-bottom: 1px solid #000000; }

div.gallery {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; }
  div.gallery a.single-image {
    aspect-ratio: 16/9;
    background-image: var(--bg-url);
    background-size: cover; }

ul.posts-list {
  list-style: none;
  padding: 0; }
  ul.posts-list > li.single-post {
    list-style: none;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: larger;
    justify-content: space-between; }
    ul.posts-list > li.single-post > div.date {
      align-items: flex-end;
      color: #666666;
      font-size: smaller;
      padding-left: 1rem; }
    @media only screen and (max-width: 400px) {
      ul.posts-list > li.single-post > div.date {
        display: block;
        line-height: 1rem;
        margin-bottom: 0.25rem; }
      ul.posts-list > li.single-post > span.post-title {
        display: block;
        line-height: 1.5rem; } }
  @media only screen and (max-width: 400px) {
    ul.posts-list > li.single-post {
      flex-direction: column;
      margin-bottom: 1rem; } }
span.accented {
  color: #09a88e; }

span.lighter {
  color: #666666; }

span.lower {
  text-transform: lowercase; }

a {
  text-decoration: none;
  color: #09a88e; }
  a:hover {
    text-decoration: none;
    color: #ff9900; }

img {
  border-radius: 2px;
  max-width: 100%; }

hr {
  border-top: 1px solid #000000;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; }

h1,
h2,
h3 {
  line-height: initial; }
  h1.no-margin,
  h2.no-margin,
  h3.no-margin {
    margin: 0; }

pre {
  line-height: 1rem;
  font-size: smaller;
  overflow-x: auto; }

sup {
  line-height: 1;
  font-size: 0.6em; }
  sup::before {
    content: "["; }
  sup::after {
    content: "]"; }

blockquote {
  margin-left: 1rem; }
  blockquote > p {
    padding-left: 1rem;
    border-left: 2px solid #09a88e; }
