html {
	margin-right: 4%;
	margin-left: 4%;
}

body {
	font-family: Arial;
	color: #545454;
	margin: 10%;
	max-width: 40em;
}

p {
	color: #545454;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 150%;
}

hr {
	color: #ffffff;
	width: 99.8%;
}

.smalltext {
	font-size: 75%;
}

.bigtext {
	font-family: "Arial";
	font-size: 350%;
	line-height: 0;
	color: #444444;
}

.mediumtext {
	font-family: "Arial";
	font-size: 200%;
	line-height: 0;
	color: #444444;
}

.panel {
	border-radius: 5px;
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	-webkit-box-shadow: 0px 1px 7px 1px rgba(170,170,170,0.75);
	-moz-box-shadow: 0px 1px 7px 1px rgba(170,170,170,0.75);
	box-shadow: 0px 1px 7px 1px rgba(170,170,170,0.75);
	margin-top: 5%;
}

body {
	font-family: "Dengxian";
	margin: auto;
}
