* {
	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
   	box-sizing: border-box;
   	margin: 0;
   	padding: 0;
}

body {
	font-family: Arial;
	color: #323232;
	margin: auto;
	max-width: 50em;
	padding: 0 2%;
}

.headerbar {
	background-color: #ffc000;
	padding: 0 4%;
}

.navbar {
	background-color: #fadf63;
	font-size: 120%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.navbar a {
	text-decoration: none;
	color: #323232;
	padding-right: 2%;
}

.navbar a:hover {
	text-decoration: none;
	color: #ffffff;
}

.contact {
	
}

.contact a {
	text-decoration: none;
	color: #ffc000;
}

.contact a:hover {
	color: #323232;
}

p {
	color: #555555;
	font-size: 100%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	line-height: 150%;
}

h1 {
	font-size: 450%;
	padding-top: 0;
}

h2 {
	font-size: 150%;
	padding-top: 0;
}
