<div class="posts-list">
    {{- range .Pages -}}
    <div class="single-post">
        <div class="date">{{ partial "rel-date" .Date }}</div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    <!-- <tr>
        <td>{{ partial "rel-date" .Date }}</td>
        <td>&nbsp;&#8227;&nbsp;</td>
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
    </tr> -->
    {{- end -}}
</div>

<style>
    div.posts-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    div.date {
        font-size: smaller;
        line-height: 1rem;
    }
</style>