<div class="posts-list">
    {{- range .Pages -}}
    <div class="single-post">
        <div class="date">{{ partial "rel-date" .Date }}</div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{- end -}}
</div>

<style>
    div.posts-list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    div.date {
        font-size: smaller;
        line-height: 1rem;
    }

    div.single-post {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    @media only screen and (max-width: 600px) {
        div.single-post {
            flex-direction: column;
            align-items: unset;
            gap: 0;
        }
    }
</style>