<div class="posts-list">
{{- range .Pages -}}
<div class="single-post">
    <span>{{ partial "rel-date" .Date }}</span>
    <span class="arrow">&#8227;</span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
</div>
<!-- <tr>
    <td>{{ partial "rel-date" .Date }}</td>
    <td>&nbsp;&#8227;&nbsp;</td>
    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
</tr> -->
{{- end -}}
</table>

<style>
    div.posts-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    div.single-post {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    @media only screen and (max-width: 600px) {
        div.single-post {
            flex-direction: column;
            gap: 0;
        }

        span.arrow {
            display: none;
        }
    }
</style>