<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ $css := "/css/styles.css" | absURL }}
        <link rel="stylesheet" href="{{ $css }}">
        <link rel="icon" href="/avatar.png"> 
        <title>{{ .Title }}</title>
    </head>

    <body>
        <div id="header" class="container">
            <h1>
                <a href="/" class="title">{{ .Site.Title }}</a>
                <span style="float: right"><img src="/avatar.png#icon"></span>
            </h1>
        </div>

        <div class="container">
            {{ block "content" . }}{{ end }}
        </div>

        <hr>
        
        <div class="container footer-links">
            <p>
                <a href="mailto:yifeix@outlook.com">email</a> | <a href="https://github.com/yfxu">github</a> | <a href="https://sr.ht/~yfxu/">sourcehut</a> | <a href="https://meta.sr.ht/~yfxu.pgp">pgp key</a> | <a href="https://osu.ppy.sh/users/3214844">osu!</a>
            </p>
        </div>
    </body>
</html>
