$color-1: #ffffff;
$color-2: #a6a9ad;
$color-3: #2e2d2f;
$color-4: #45b694;

$color-5: #000000;
$color-6: #848586;
$color-7: #dddddd;
$color-8: #55d4ae;

$background: $color-5;
$text-primary: $color-7;
$text-secondary: $color-6;
$accent: $color-8;
