:root {
  --color-background: #ffffff;
  --color-text-primary: #3b393d;
  --color-text-secondary: #a6a9ad;
  --color-accent: #45b694;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #28252B;
    --color-text-primary: #ede3dd;
    --color-text-secondary: #8d8683;
    --color-accent: #03CEA4;
  }
}
