// base colors
$color-vanta: #000000;
$color-black: #202020;
$color-light: #919191;
$color-gray: #dddddd;
$color-grey: #f0f0f0;
$color-white: #ffffff;
$color-beige: #f3f3ea;
$color-teal: #09a88e;
$color-aqua: #0e84b5;
$color-orange: #ff9900;

$color-dark-blue-1: #0d0d0e; 
$color-dark-blue-2: #232325; 

// component colors
$bg-color: $color-white;
$bg-color-2: $color-grey;
$font-color: $color-black;
$font-color-2: $color-light;
$line-color: $color-light;
$accent-color: $color-teal;
$accent-color-2: $color-orange;
$code-bg-color: $color-grey;
$code-color: $color-aqua;

// fonts
$font-families: Helvetica, sans-serif;

// constants
$max-width: 720px;
$resize-width: 480px;
$border-radius: 2px;

// Universal Tags
html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  // line-height: 1.375rem;
  background-color: $bg-color-2;
  color: $font-color;
  font-family: $font-families;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
  padding-top: 1rem;

  > a {
    font-weight: bold;

    &.true {
      color: $font-color;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-bottom: 1rem;
}

div {
  &.left-body {
    flex-grow: 1;
    // height: 10rem;
  }

  &.right-body {
    flex-grow: 1;
    background-color: $bg-color;
    min-height: 100vh;
  }

  &.content-wrapper {
    display: flex;
    max-width: $max-width;
    flex-direction: row;
    position: relative;

    > div.narrow-header {
      display: none;
    }

    @media only screen and (max-width: $resize-width) {
      > div.narrow-header {
        display: block;
        padding-left: 1rem;
      }
    }

    > div.content-wrapper-left {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > div.socials {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
        position: sticky;
        bottom: 1rem;
        align-items: flex-end;
        font-weight: bold;
      }
    }

    @media only screen and (max-width: $resize-width) {
      > div.content-wrapper-left {
        display: none;
      }
    }

    > div.content-wrapper-right {
      background-color: $bg-color;
      padding: 0.5rem 1rem 0 1rem;
    }
  }

  @media only screen and (max-width: $resize-width) {
    &.content-wrapper {
      flex-direction: column;
    }
  }


  &.content {
    margin: 0 auto;
  }

  &.main-content {
    line-height: 1.25rem;
  }

  &.name-container {
    margin: 1rem 0;

    p {
      margin: 0;
    }
  }

  &.title {
    text-align: right;
    padding: 0.5rem 0;
    position: sticky;
    font-size: 2rem;
    top: 0;
  }

  @media only screen and (max-width: $resize-width) {
    &.title {
      text-align: left;
    }
  }

  &.gallery {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 1rem;

    a.single-image {
      // height: 200px;
      aspect-ratio: 16/9;
      background-image: var(--bg-url);
      background-size: cover;
    }
  }
}

ul.posts-list {
  list-style: none;
  padding: 0;
  // margin-bottom: 0.5rem;

  > li.single-post {
    list-style: none;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: larger;
    justify-content: space-between;

    > span.post-title {
      font-weight: bold;
    }

    > div.date {
      align-items: flex-end;
      color: $color-light;
      font-size: smaller;
      padding-left: 1rem;
    }

    @media only screen and (max-width: $resize-width) {
      .single-post {
        flex-direction: column-reverse;
      }

      > div.date {
        display: block;
        line-height: 1rem;
        margin-bottom: 0.25rem;
        padding: 0;
      }

      > span.post-title {
        display: block;
        line-height: 1.5rem;
      }
    }
  }

  @media only screen and (max-width: $resize-width) {
    > li.single-post {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }
}

span {
  &.accented {
    color: $accent-color;
  }

  &.lighter {
    color: $color-light;
  }

  &.lower {
    text-transform: lowercase;
  }
}

a {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    text-decoration: none;
    color: $accent-color-2;
  }

  &.alt-style {
    color: $color-light;

    &:hover {
      color: $font-color;
    }
  }
}

img {
  border-radius: $border-radius;
  max-width: 100%;
}

hr {
  border-top: 1px solid $line-color;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

h1,
h2,
h3 {
  line-height: initial;

  &.no-margin {
    margin: 0;
  }
}

pre {
  // border: 1px solid $line-color;
  // border-radius: $border-radius;
  line-height: 1rem;
  // padding: 0.5rem;
  font-size: smaller;
  overflow-x: auto;

  // > code {
  //   background-color: unset;
  //   border: none;
  //   border-radius: 0;
  //   padding: unset;
  //   font-size: unset;
  // }
}

// code {
//   background-color: $code-bg-color;
//   border-radius: $border-radius;
//   border: 1px solid $line-color;
//   padding: 0 0.125rem;
//   font-size: 0.875rem;
// }

sup {
  line-height: 1;
  font-size: 0.6em;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

blockquote {
  margin-left: 1rem;
  border-left: 2px solid $accent-color;

  > p {
    padding-left: 1rem;
  }
}
